// Custom styles.

.post {
	margin-top: 0px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}

.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

.post-body p a{
	color: #0593d3;
	border-bottom: none;
	border-bottom: 1px solid #0593d3;
	&:hover {
		color: #fc6423;
		border-bottom: none;
		border-bottom: 1px solid #fc6423;
	}
}